* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
}

nav {
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0; /*Curved top corners of webpage. It looked like it had that in the finished product.*/
    /* border-start-end-radius: 15px;
    border-end-start-radius: 15px; */
}

#destinations {
    /* TOP SECTION - This is the nav bar left side content with "My Web Design Site..." */
    display: flex;
    align-items: center;
    /* outline: 10px gold; */
}

#actions {
    /* TOP SECTION - This is the nav bar right side content with "Sign In Sign Up" verbiage */
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    padding: 10px;
}

section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
}

#hero {
    /*MIDDLE PART OF THE DESIGN - STARTING WITH WORLD'S BEST WEB DESIGNS*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0;
}

input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
}

main {
    background-color: white;
    padding: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    width: 100px; /*changed width to look more like finished product */
    height: 40px; /*changed height to look more like finished product*/
}

.img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
}

.card {
    width: 30%; /*Just for this exercise doing 3 per line; however, I noticed the live website uses responsive design. Gonna try and add that.*/
}

.card-footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; added a border to see what was going on with it not centering */
}

.card-footer * {
    margin-top: 8px;

}

#subnav {
    padding: 32px 72px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
}

#trending {
    /*MIDDLE PART OF THE DESIGN - TRENDING SEARCHES AND CONTENT*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#trending p {
    /*MIDDLE PART OF THE DESIGN - TRENDING SEARCHES AND CONTENT*/
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
    margin: 10px;
}








/* .card {
    display: flex;
    justify-content: space-around;
} */

/*Just realized the following regarding below notes: The .card is only useful for <div class="img-placeholder"></div>
<div class="card-footer"> but not for all the img-placeholders. So have to go to parent to main to access all cards.*/
/*Notes regarding bottom portion of page - This part below was first attempt*/
/* THIS IS THE PARENT OF IMG PLACEHOLDER & TRYING TO USE FLEXBOX BUT NOTHING IS HAPPENING.
.card {
    display: flex;
    justify-content: space-around;
}
} */

/* article { THIS IS THE PARENT OF IMG PLACEHOLDER & TRYING TO USE FLEXBOX BUT NOTHING IS HAPPENING.
    display: flex;
    align-items: left;
} */
