* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
}

nav {
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0; /*Curved top corners of webpage. It looked like it had that in the finished product.*/
}

#destinations {
    /* TOP SECTION - This is the nav bar left side content with "My Web Design Site..." */
    display: flex;
    align-items: center;
    gap: 15px; /*Added gap to create more space between elements. This worked better than other Flexbox commands.*/
    /* outline: 10px gold; Initially, I was trying to see an outline of this area. 
    Didn't realize until now that I can do the same thing in dev tools with the button on the far left that has the arrow.*/
}

#actions {
    /* TOP SECTION - This is the nav bar right side content with "Sign In Sign Up" verbiage */
    display: flex;
    align-items: center;
    gap: 15px; /*Added gap to create more space between elements. This worked better than other Flexbox commands.*/
}

p {
    margin: 0;
    /* padding: 10px; I added this initially; but don't actually need it in my code. After troubleshooting bugs with Alara, took this out. Not necessary*/
}

section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
}

#hero {
    /*MIDDLE PART OF THE DESIGN - STARTING WITH WORLD'S BEST WEB DESIGNS*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0;
}


input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
}

main {
    background-color: white;
    padding: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px; /*Looked in dev tools for 'answer website' to see gap space. In clicking on the space between the grey img, 
    it looks like that website had 32px. Thus, changed to that. (Haven't done this for everything on the site. But now, I 
    know how to do this. Yay. */
}

nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    width: 100px; /*changed width to look more like finished product */
    height: 40px; /*changed height to look more like finished product*/
}

.img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; Originally put this here; however, after troubleshooting with Alara 
    realized it was doing something funky with spacing because of this. This was trying to center itself from main. 
    Fixed main and took this part out. */
    font-size: 14px;
}

.card-footer * { 
    margin-top: 8px;
    /* margin-bottom: 0; Originally put in. After troubleshooting, realized didn't need this after fixed main.*/
}


#subnav {
    padding: 32px 72px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
}

#trending {
    /*MIDDLE PART OF THE DESIGN - TRENDING SEARCHES AND CONTENT*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#trending p {
    /*MIDDLE PART OF THE DESIGN - TRENDING SEARCHES AND CONTENT*/
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
    margin: 10px;
}





/* Notes below for my own reference later to see what I was initially trying: */

/* .card {
    display: flex;
    justify-content: space-around;
} */

/*Notes on why the above and below code didn't work; and commenting it out so I can re-read in the future to understand my process of coding and what didn't work & why didn't work: 
The .card is only useful for <div class="img-placeholder"></div> <div class="card-footer"> but not for all the img-placeholders. 
So have to go to parent to main to access all cards... I initially thought to access 'card' because it is the parent of the 'img placeholder',
but nothing happened when I did that so I had to take a different tack*/

/* THIS IS THE PARENT OF IMG PLACEHOLDER & TRYING TO USE FLEXBOX BUT NOTHING IS HAPPENING.
.card {
    display: flex;
    justify-content: space-around;
}
} */

/* article { THIS IS THE PARENT OF IMG PLACEHOLDER & TRYING TO USE FLEXBOX BUT NOTHING IS HAPPENING.
    display: flex;
    align-items: left;
} */
